<%- include('includes/header.ejs') %>

<body>
  <% if(locals.message){ %>
  <p style="color: orangered"><%= locals.message %></p>
  <% } %> <% if(locals.error){ %>
  <p style="color: red"><%= locals.error %></p>
  <% } %>

  <section class="text-center">
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
      "></div>
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
      ">
      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Register</h2>
            <form action="/register" method="post" id="mainForm" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="firstname" placeholder="firstname" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" name="lastname" placeholder="lastname" />
                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" name="email" placeholder="email" />
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" name="password" placeholder="password" />
              </div>
              <div class="form-outline mb-4">
                <input type="text" id="form3Example4" class="form-control" name="bio" placeholder="bio" />
              </div>
              <div class="form-outline mb-4">
                <input type="file" name="avatar">
              </div>
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Register
              </button>
              <div class="text-center">
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <a href="/login"> Login here</a>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('includes/footer.ejs') %>
</body>