<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navLi" href="/profil" >Profil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navLi" href="/feed">Feed</a>
      </li>
      <li class="nav-item">
        <form action="/logout" method="post">
        <button type="submit" class="btn btn-outline-danger btn-sm mt-1" >Logout</button>
      </form>
      </li>
    </ul>
  </div>
</nav>